<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- <meta http-equiv="X-UA-Compatible" content="chrome=1"> -->
<!-- 확인할 곳 : https://developers.google.com/chrome/chrome-frame/ -->
<title>Flat Note -</title>
    

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js'></script>

<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
<!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap-responsive.css"> -->

<!-- requirejs를 이용하므로  FlatNote_main.js가 start script로 로딩된다.-->
<script data-main="main" src="js/libs/require/require.js"></script>
<!-- <script type="text/javascript" src="main.js"></script> -->

</head>
<body>

<h1> Welcome! </h1>

<% include greeting.ejs %>


</body>
</html>
